@keyframes featured {
  0%, 100% {
    box-shadow: 0 0 10px 2px $color-special, 0 0 20px  $color-special;
  } 50% {
    box-shadow: 0 0 10px 2px $color-secoundary, 0 0 20px  $color-secoundary;
  }
}

@keyframes featuredColor {
  0%, 100% {
    background-color: $color-special;
  } 50% {
    background-color: $color-secoundary;
  }
}